@font-face {
  font-family: 'sanfrancisco';
  src: url("../fonts/sanfranciscodisplay-regular-webfont.eot");
  src: url("../fonts/sanfranciscodisplay-regular-webfont.woff") format("woff"), url("../fonts/sanfranciscodisplay-regular-webfont.woff2") format("woff2"), url("../fonts/sanfranciscodisplay-regular-webfont.ttf") format("truetype"), url("../fonts/sanfranciscodisplay-regular-webfont.svg#san_francisco_displayregular") format("svg");
}
* {
  font-family: sanfrancisco;
}

body {
  background: #e4e4e4;
}

.header-wrapper {
  text-align: left;
  background: white;
  height: 4em;
  line-height: 4.3em;
  position: fixed;
  width: 100%;
  box-shadow: 0 1px 10px #eee;
}

.header-row {
  position: relative;
  margin: 0px auto;
}

.eyes {
  left: 45%;
  position: absolute;
  top: 0.25em;
  height: 3.5em;
  width: 8em;
  background-color: #3b94d9;
  border-radius: 15px;
  box-shadow: 0 0 3px #616161;
}
/* Eyes */
#left-eye,#right-eye{
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  width: 33px;
  height: 30px;
  top: 0.7em;
  box-shadow: 0 0 3px #6d6d6d;
  background-color: white;
}

#left-eye{
  left: 1em;
}

#right-eye{
  right: 1em;
}

#left-pupil, #right-pupil{
  width: 11px;
  height: 11px;
  background: #FFF;
  border-radius: 50%;
  display: block;
  position: absolute;
  background-color: black;
}
/* Eyes End */

.header {
  margin: 0;
  position: relative;
  line-height: inherit;
  vertical-align: middle;
  text-transform: lowercase;
  color: #757575;
  font-size: 35px;
}

.vr {
  color: #3b94d9;
  font-weight: bold;
}

.timeline {
  margin-top: 6em;
}

@keyframes mymove {
  from {top:-200px; opacity: 0;}
  to {top:0px; opacity: 1}
}

@-webkit-keyframes mymove /* Safari and Chrome */ {
  from {top:-200px; opacity: 0;}
  to {top:0px; opacity: 1;}
}

/* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {
    .timeline {
      padding: 0;
    }

    .eyes {
      right: 15px;
      left: initial;
    }
  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {
    .timeline {
      padding: 0px 75px;
    }

    .eyes {
      right: 15px;
      left: initial;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    .timeline {
      padding: 0px 100px;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    .timeline {
      padding: 0px 150px;
    }

    .eyes {
      right: initial;
      left: 45%;
    }
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
    .timeline {
      padding: 0px 250px;
    }
  }